body {
	overflow: hidden;
}
.center-point {
	position: absolute;
	width: 1px;
	height: 1px;
	left: 50%;
	top: 50%;
}
.container {
	position: absolute;
	display: table;
	width: 4096px;
	height: 4096px;
	left: -2048px;
	top: -2048px;
	box-sizing: border-box;
}
.wrapper {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: #888;
}
.window {
	display: inline-block;
}
#map {
	
}
.menu {
	position: absolute;
	right: 0px;
	top: 0px;
	border: 1px solid blue;
	text-align: left;
}
input {
	text-align: center;
}