:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #404040;
  --foreground-color: #808080;
  --element-color: #c0c0c0;
  --font-color: #202020;
  --hover-color: #a0a0a0;
  --active-color: #808080;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-size: calc(0.5vw + 0.5vh);
  color: var(--font-color);
  background-color: var(--background-color);
}

div {
  box-sizing: border-box;
}

canvas {
  display: block;
}

input[type="checkbox"],
select,
option {
  cursor: pointer;
}